@import "../../../styles/utils/variables";

.distributionBtns {
  @media (min-width: $desktop) {
    margin-right: auto;
  }
}

.distributionButton {
  width: 118px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.distributionButton:not(:last-child) {
  margin-right: 6px;
}

.btnContent {
  display: flex;
  align-items: center;
  padding: 9px 0px 9px 16px;
  @media (max-width: $desktop - 1) {
    padding: 9px 0px 9px 5px;
  }
}
