@import "../../styles/utils/variables";

.section--profile{
  .profile-wrapper {
    padding: 16px 20px;
    @media (min-width: $tablet) {
      padding: 32px 52px;
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: $Black-700;
      padding-bottom: 8px;
      margin-bottom: 20px;
      border-bottom: 1px solid $Black-500;
      @media (min-width: $tablet) {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 16px;
        margin-bottom: 32px;
      }
    }
  }

  .upload-data {
    font-size: 14px;
    line-height: 24px;
    color: $Black-600;
    flex: none;
  }

  .user-info {
    padding: 0;
    margin: 0 24px 0 0;
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      margin: 0 0 20px 0;
      width: 100%;
    }
    .user-pic {
      position: relative;
      width: 68px;
      height: 68px;
      img {
        width: 56px;
        height: 56px;
      }
    }
  }

  .user-pic {
    margin-right: 20px;
  }

  .profile-user {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @media (max-width: $tablet - 1) {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $tablet - 1) {
      width: 100%;
    }
    .btn {
      margin-right: 8px;
      @media (max-width: $tablet - 1) {
        padding: 18px 30px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .profile-data-item {
    display: flex;
    align-items: baseline;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid $Black-500;
    @media (max-width: $tablet - 1) {
      flex-wrap: wrap;
    }
    &:last-child {
      border-bottom: none;
    }

    &.change {
      .info {
        color: $Black-600;
      }
    }

    &.edit {
      .btn {
        color: $Black-500;
      }
    }

    &.warning {
      .btn--transparent-default {
        color: $Warning-900;
      }
    }

    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: $Black-700;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
      @media (min-width: $tablet) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .info {
      font-size: 14px;
      line-height: 24px;
      color: $Black-700;
      display: flex;
      flex-direction: column;
      @media (max-width: $tablet - 1) {
        margin-top: 16px;
        font-size: 12px;
        line-height: 16px;
      }
      .input {
        width: 100%;
        max-width: 310px;
        height: 48px;
        padding: 12px 16px;
        color: $Black-800;
        margin-bottom: 24px;
        border: 1px solid $Black-500;
        border-radius: 4px;
        outline: none;
        &:hover {
          border-color: $Black-600;
        }

        &:focus {
          border-color: $Secondary-900;
        }

        &:active {
          border-color: $Secondary-900;
        }
      }

      .btn {
        width: max-content;
      }

      .MuiTextField-root {
        margin-bottom: 24px;
        max-width: 310px;
      }
    }

    .btn {
      display: inline-block;
      @media (max-width: $tablet - 1) {
        font-size: 12px;
        line-height: 12px;
      }
    }

    .col-1 {
      width: 28%;
      @media (max-width: $tablet - 1) {
        width: 70%;
      }
    }

    .col-2 {
      width: 57%;
      @media (max-width: $tablet - 1) {
        order: 2;
        width: 100%;
      }
    }

    .col-3 {
      width: 15%;
      text-align: right;
      @media (max-width: $tablet - 1) {
        width: 30%;
      }
    }
  }

  .radio-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    .MuiFormControlLabel-root {
      margin-right: 50px;
      &:hover {
        .MuiRadio-root {
          color: $Secondary-900;
        }
      }


      &:last-child {
        margin-right: 0;
      }
    }

    .MuiRadio-root {
      width: 20px;
      height: 20px;
      padding: 0;
      color: $Black-500;
      &.Mui-checked {
        color: $Secondary-900;
      }
    }

    .MuiTouchRipple-root {
      display: none;
    }

    .MuiTypography-root {
      margin-left: 18px;
      font-family: 'Gilroy', sans-serif;
      @media (max-width: $tablet - 1) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .MuiFormGroup-row {
      @media (max-width: $tablet - 1) {
        flex-direction: column;
        margin-top: 20px;
        .MuiFormControlLabel-root {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .MuiIconButton-root {
    background-image: url("../../assets/icons/Calendar.svg");
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 1px;

    .MuiSvgIcon-root {
      display: none;
    }
  }

  .MuiTouchRipple-root {
    display: none;
  }
}

.modal-wrapper {
  &.modal-wrapper--profile {
    padding: 20px;
    @media (min-width: $tablet) {
      width: 555px;
    }
    .icons-wrapper {
      display: flex;
      align-items: center;
      svg {
        margin-right: 4px;
      }
    }

    .modal-close-icon {
      top: 20px;
      right: 20px;
    }

    .user-avatar {
      width: 260px;
      height: 260px;
      border-radius: 100%;
      margin-top: -5px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 66px;
    }

    .btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 140px;
      padding: 10px;
      margin-right: 8px;
    }
  }
}

