@import "../../../styles/utils/variables";

.logo {
  display: flex;
  align-items: center;
  @media (min-width: $desktop) {
    width: 200px;
    margin-right: 24px;
  }
}

.logoIcon {
  margin-right: 12px;
}

.logoWrapper{
  transform: translateX(calc(100% - 66.9px));
  transition: transform 0.3s ease-in-out;
}

.logoOpen{
  transform: translateY(-150%);
  top: -40%;
  left: 36.5vw;
  position: absolute;
}
.logoClosed{
  transform: translateY(0);
  position: relative;
}

.logoText {
  font-family: Russo One, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #7B61FF;
  text-transform: uppercase;
}