@import "../../styles/utils/variables";

.tabs-wrapper {
  font-family: 'Gilroy', sans-serif;
  .MuiPaper-root {
    background-color: $White-100;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 22px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    border-bottom: 1px solid $Black-500;
    font-family: 'Gilroy', sans-serif;
    @media (min-width: $tablet) {
      padding-top: 32px;
      padding-left: 52px;
      padding-right: 52px;
    }
  }

  .MuiButtonBase-root {
    font-family: 'Gilroy', sans-serif;
  }

  .MuiTab-root {
    padding: 0 0 16px 0;
    min-width: auto;
    margin-right: 28px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    @media (min-width: $tablet) {
      margin-right: 42px;
    }
    &.Mui-selected {
      color: $Secondary-900;
    }
    &:hover {
      color: $Secondary-900;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .MuiTab-wrapper {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: $Black-700;
  }

  .MuiTabs-indicator {
    background-color: $Secondary-900;
  }

  .MuiTouchRipple-root {
    display: none;
  }

  .MuiBox-root {
    padding: 0;
  }

  .MuiSvgIcon-fontSizeSmall {
    fill: $Black-700;
    width: 24px;
    margin-top: -12px;
  }

  .MuiTabScrollButton-root {
    width: auto;
    @media (min-width: $tablet) {
      display: none !important;
    }
  }
}