@import "../../styles/utils/variables";

.header{
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $desktop) {
  .header{
    margin-top: 32px;
  }
  .backBtn{
    width: 40px;
    height: 40px;
    background: #f2f2f2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 70px;
  }
}

.backBtn{
  @media (max-width: $desktop - 1) {
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
  }
}