@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Light.woff2"),
  url('../fonts/gilroy/Gilroy-Light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Regular.woff2"),
  url('../fonts/gilroy/Gilroy-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Medium.woff2"),
  url('../fonts/gilroy/Gilroy-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Bold.woff2"),
  url('../fonts/gilroy/Gilroy-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}