@import "../../styles/utils/variables";

.custom-select {
  .MuiSelect-root {
    font-size: 14px;
    line-height: 24px;
    color: $Black-700;
    border: 1px solid $Black-500;
    border-radius: 4px;
    background-color: $White-100;
    &:hover {
      border-color: $Black-500;
    }

    &.Mui-focused {
      border-color: $Secondary-900;
    }
  }

  .MuiSelect-select {
    padding: 12px 16px;
    &:hover {
      border-color: $Black-500;
    }
  }

  .MuiInputBase-root {
    margin-top: 0;
    &:after, &:before {
      display: none;
    }
  }

  input {
    outline: none;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }

  .MuiFormLabel-root {
    top: 2px;
    background-color: $White-100;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 16px;
    color: $Black-700;
    z-index: 1500;
    &.Mui-focused {
      color: $Secondary-900;
    }
  }

  .MuiSelect-icon {
    background-image: url("../../assets/icons/arrow.svg");
    width: 24px;
    height: 24px;
    right: 12px;
    path {
      display: none;
    }
  }

  .Mui-focused {
    .MuiSelect-root {
      border-color: $Secondary-900;
      &:focus {
        background-color: transparent;
      }
    }
  }

  legend {
    width: auto;
  }
}

.custom-select__dropdown {
  background-color: $White-100 !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03) !important;
  border-radius: 4px !important;

  .MuiMenuItem-root {
    &:hover {
      background-color: rgba(123, 97, 255, .05);
      .MuiSvgIcon-root {
        background-image: url("../../assets/icons/CircleHover.svg");
      }

      .Mui-checked {
        .MuiSvgIcon-root {
          background-image: url("../../assets/icons/CircleChecked.svg");
        }
      }

      .MuiTypography-root {
        color: $Secondary-900;
      }
    }

    &.Mui-selected {
      background-color: transparent;
      &:hover {
        background-color: rgba(123, 97, 255, .05);
      }
    }
  }

  .MuiSvgIcon-root {
    width: 24px;
    height: 24px;
    background-image: url("../../assets/icons/CircleUnchecked.svg");
    path {
      display: none;
    }
  }

  .Mui-checked {
    .MuiSvgIcon-root {
      background-image: url("../../assets/icons/CircleChecked.svg");
      &:hover {
        background-image: url("../../assets/icons/CircleChecked.svg");
      }
    }
  }

  .MuiTouchRipple-root {
    display: none;
  }

  .MuiTypography-root {
    font-size: 14px;
    line-height: 24px;
    color: $Black-800;
  }
}
