@import "../../styles/utils/variables";

.calendar-wrapper {
  background-color: $White-100;
  box-shadow: 0px 8px 24px rgba(45, 62, 86, 0.12);
  border-radius: 4px;
  padding: 32px 0;
  .PrivatePickersSlideTransition-root {
    min-width: 280px;
  }
  @media (max-width: $tablet - 1) {
    padding: 20px;
    max-width: 280px;
    > div {
      min-width: 280px;
      margin-left: -22px;
    }
  }
  .title {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: $Black-700;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $Black-500;
    padding-left: 24px;
    padding-right: 24px;
    @media (max-width: $tablet - 1) {
      display: none;
    }
    img {
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .MuiTouchRipple-root {
    display: none;
  }

  .MuiTypography-root {
    font-size: 10px;
    line-height: 10px;
    color: $Black-600;
    width: 32px;
    height: 32px;
    font-family: 'Gilroy', sans-serif;
    letter-spacing: inherit;
  }

  .MuiTypography-subtitle1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $Black-700;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
  }

  .MuiTypography-caption {
    width: 28px;
  }

  .MuiButtonBase-root,
  .MuiPickersDay-today,
  .MuiDateRangePickerDay-rangeIntervalPreview {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  .MuiPickersDay-root {
    transform: scale(1);
    width: 28px;
    height: 28px;
    font-family: 'Gilroy', sans-serif;
  }

  .MuiDateRangePickerDay-rangeIntervalDayHighlightStart {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    &:first-of-type {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      .MuiDateRangePickerDay-rangeIntervalDayPreview {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }

  .MuiDateRangePickerDay-rangeIntervalDayHighlight {
    background-color: #F2EFFF;
  }

  .MuiDateRangePickerDay-rangeIntervalDayHighlightEnd {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    &:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      .MuiDateRangePickerDay-rangeIntervalDayPreview {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .Mui-selected {
    background-color: $Secondary-900 !important;
  }

  .PrivatePickersSlideTransition-root {
    min-height: 206px;
  }

  .PrivatePickersToolbar-root {
    .MuiTypography-overline {
      display: none;
    }

    .MuiButton-text,
    .MuiTypography-root {
      width: auto;
      height: auto;
      background-color: transparent;
      font-size: 16px;
    }

    .Mui-selected {
      background-color: transparent !important;
    }

    .MuiIconButton-root {
      display: none;
    }
  }
}