//Mode
$Black-900: #111112;
$Black-800: #232325;
$Black-700: #33343E;
$Black-600: #9A9BA2;
$Black-500: #E3E3E7;
$Gray-100: #FAFAFF;
$White-100: #FFFFFF;

//Colors
$Main-900: #38D47E;
$Main-800: #32B76E;
$Main-700: #56DA91;
$Green-900: #2CB774;
$Warning-900: #FF5655;
$Pink-900: #F6339A;
$Violet-900: #BE22E2;
$Violet-800: #7802E4;
$Navy-900: #3206AC;
$Navy-800: #5851FF;
$Secondary-900: #7B61FF;
$Secondary-800: #6B55DB;
$Secondary-700: #8F79FF;
$Marina-900: #A6D4FF;
$Accent-900: #FFD965;
$Accent-800: #FFB865;

//Shadows
$Shadow-Small: 0px 3px 4px rgba(45, 62, 86, 0.1);
$Shadow-Medium: 0px 16px 32px rgba(45, 62, 86, 0.04);
$Shadow-Large: 0px 8px 24px rgba(45, 62, 86, 0.12);

$mobile: 320px;
$tablet: 767px;
$desktop: 1360px;