@import "../../../styles/utils/variables";

body {
  &.dark-theme {
    .listItemContent {
      color: $Black-500;
    }
  }
}

.listItemText{
  font-family: 'Gilroy', serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $Black-700;
}
.listItemContent{
  display: flex;
  align-items: center;
  font-family: 'Gilroy', serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $Black-700;
}
.listItemContent:hover{
  color: $Secondary-900;
}

.activeLink{
  color: $Secondary-900;
  font-weight: 700;
}

.activeLink .icon path{
  background-color: #6087ad;
}
.distributionBtns{
  margin-top: 46px;
  display: flex;
  justify-content: center;
}
.menuItemText {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #33343E;
}
.menuItemIcon {
  padding-right: 12px;
}

.nav {
  margin-top: 24px;
  margin-bottom: 24px;
}
.icon {
  padding-right: 18px;
}
@media (min-width: $desktop) {
  .navWrapper{
    width: 200px;
    margin-right: 24px;
    flex: none;
    margin-top: -8px;
  }
}