@import "../../styles/utils/variables";

.section--referrals {
  .structure-info {
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: $Black-700;
      padding-bottom: 8px;
      border-bottom: 1px solid $Black-500;
      padding-top: 16px;
      padding-left: 20px;
      padding-right: 20px;
      @media (min-width: $tablet) {
        font-size: 20px;
        line-height: 30px;
        padding-top: 32px;
        padding-left: 52px;
        padding-right: 52px;
        padding-bottom: 16px;
      }
    }
  }

  .search-bar-wrapper {
    padding: 20px;
    position: relative;
    overflow: hidden;
    @media (min-width: $tablet) {
      padding: 32px 52px 40px;
    }
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $Black-500;
      position: absolute;
      left: 0;
      top: 180px;
      @media (min-width: $tablet) {
        top: 112px;
      }
    }
  }

  .input-search-wrapper {
    width: 100%;
    height: 48px;
    margin-bottom: 100px;
    @media (min-width: $tablet) {
      width: 200px;
      margin-right: 20px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      width: 270px;
      margin-right: 24px;
    }
  }

  .tabs-wrapper {
    padding-top: 32px;
    margin-top: 32px;
    .MuiTabs-indicator {
      display: none;
    }

    .MuiTabs-root {
      position: absolute;
      left: 20px;
      top: 90px;
      width: 100%;
      @media (min-width: $tablet) {
        right: 52px;
        top: 36px;
        left: auto;
        width: auto;
      }
    }

    .MuiBox-root {
      border-bottom: none;
    }

    .MuiTab-root,
    .tab-item {
      width: 40px;
      height: 40px;
      min-height: 40px;
      border: 1px solid $Black-500;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-right: 8px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
        @media (max-width: $tablet - 1) {
          margin-left: auto;
          margin-right: 40px;
        }
      }

      &:hover {
        background-color: rgba(227, 227, 231, .3);
      }
      .tab-item {
        margin-right: 0;
      }

      &.Mui-selected {
        background-color: rgba(227, 227, 231, .3);
      }
    }
  }

  .currency-info {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;

    @media (min-width: $desktop) {
      margin-bottom: 24px;
      flex-wrap: nowrap;
    }

    .currency-info__item {
      margin-right: 0;
      width: 48%;
      margin-bottom: 8px;
      @media (min-width: $tablet) {
        width: 48%;
        margin-right: 0;
        margin-bottom: 24px;
      }

      @media (min-width: $desktop) {
        width: 25%;
        margin-right: 24px;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

  .info-block {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 18px 64px 18px 24px;
    border: 1px solid $Black-500;
    border-radius: 8px;
    margin-bottom: 32px;
    font-family: "Gilroy", sans-serif;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 54px;
      height: 58px;
      background-image: url("../../assets/info-bg.svg");
      background-size: cover;
    }

    .close-icon {
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
      &:hover {
        opacity: .6;
      }
      img {
        margin-right: 0;
      }
    }

    img {
      margin-right: 18px;
      position: relative;
      z-index: 1;
    }

    .content {
      font-size: 14px;
      line-height: 24px;
      color: $Black-700;
      padding: 0;
    }

    strong {
      font-weight: 700;
      display: block;
    }
  }

  .table {
    width: 100%;
    text-align: left;
    thead {
      th {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: $Black-600;
      }

      .text-center {
        text-align: center;
      }
    }

    tbody {
      td {
        font-size: 14px;
        line-height: 20px;
        color: $Black-700;
        padding-bottom: 16px;
        padding-top: 16px;
        white-space: nowrap;
        &:last-child {
          width: 120px;
          padding-right: 24px;
        }
      }
      tr {
        border-bottom: 1px solid $Black-500;
        &:last-child {
          border-bottom: none;
        }
      }

      .td-1 {
        width: 84px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        .label {
          margin-left: 8px;
        }
      }

      .td-2 {
        width: 130px;
      }

      .td-3 {
        width: 100px;
      }

      .td-4 {
        text-align: center;
      }

      .td-5 {
        width: 120px;
      }
    }

    .user-info {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }

    .label {
      display: inline-block;
      &.new {
        color: $Main-900;
        background-color: rgba(56, 212, 126, .2);
      }

      &.delete {
        color: $Warning-900;
        background-color: rgba(255, 86, 85, .2);
      }
    }

    .table-new {
      background-color: rgba(56, 212, 126, .1);
      border-radius: 4px;
      border-bottom: none;
    }

    .table-delete {
      background-color: rgba(255, 86, 85, .1);
      border-radius: 4px;
      border-bottom: none;
      td {
        color: $Warning-900;
      }
    }
  }

  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 32px;
    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
    }

    .pagination {
      margin-right: -10px;
    }
  }

  .table-wrapper--tree {
    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      display: none;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr.ant-table-row:hover > td{
      background-color: transparent;
    }

    .ant-table-thead {
      .ant-table-cell {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: $Black-600;
        text-transform: uppercase;
        border-bottom: none;
      }
    }

    .user-info {
      padding: 0;
      margin: 0;
      border-bottom: none;
      display: flex;
      align-items: center;
      white-space: nowrap;
      position: relative;
      z-index: 2;
    }

    .ant-table-row-expand-icon {
      position: relative;
      margin: 0 7px 0 0;
      width: 24px;
      height: 24px;
      background-image: url("../../assets/icons/Exclude-minus.svg");
      transform: none;
      border: none;
      background-size: cover;
      &.ant-table-row-expand-icon-collapsed {
        background-image: url("../../assets/icons/Exclude-plus.svg");
        background-position: -.8px center;
        &:before {
          display: none;
        }
      }

      &:before,
      &:after{
        display: none;
      }
    }

    .ant-table-cell-with-append {
      display: flex;
      align-items: center;
      position: relative;
    }

    .label {
      display: inline-block;
    }

    .ant-table-thead > tr > th{
      padding: 16px 0;
      vertical-align: middle;
      &:first-child {
        padding-left: 48px;
      }
      &:last-child {
        padding-right: 24px;
      }
    }

    .ant-table-tbody > tr > td {
      padding: 16px 0;
      vertical-align: middle;
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 24px;
      }
    }

    .ant-table-cell {
      &:nth-child(4) {
        text-align: center;
      }
    }

    .user-wrapper {
      display: flex;
      align-items: center;
      .user-pic {
        background-color: $White-100;
        border-radius: 100%;
      }
      .label {
        margin-left: 4px;
      }
    }

    .new {
      background-color: rgba(56, 212, 126, .1);
      border-radius: 4px;
      .ant-table-row-expand-icon {
        background-color: transparent;
      }

      .new {
        &.label {
          background-color: rgba(56, 212, 126, .2);
          color: $Main-900;
        }
      }
    }

    .deleted {
      background-color: rgba(255, 86, 85, .1);
      border-radius: 4px;
      color: $Warning-900;
      .ant-table-row-expand-icon {
        background-color: transparent;
      }

      .ant-table-cell {
        &:last-child {
          .user-info {
            color: $Black-700;
          }
        }

        &:nth-child(3) {
          .label {
            display: none;
          }

          &:before {
            content: "--";
          }
        }
      }


      .deleted {
        &.label {
          background-color: rgba(255, 86, 85, .2);
          color: $Warning-900;
        }
      }
    }

    .ant-table-row {
      &:last-child {
        .ant-table-cell {
          border-bottom: none;
        }
      }
    }

    table {
      overflow: hidden;
    }

  }

  .ant-table-content {
    overflow-x: auto;
    table {
      min-width: 800px;
    }
  }
}